**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/bin
**/obj
**/node_modules
**/TestResults
**/*.md
**/*.ps1
**/*.sh
**/*.yml
**/*.yaml
**/*.suo
**/*.user
**/*.dbmdl
**/*.jfm
**/Dockerfile*
**/docker-compose*
!BlazorAutoApp/docker/Dockerfile
!docker-compose.yml
!BlazorAutoApp/appsettings.Docker.json
!docker/**

