Requirements:
- Avoid authentication
- Copy https://hull-inspecto-3d.lovable.app/upload

Design document:
https://docs.google.com/drawings/d/10KDh_9FXPJrdnwL4GHxaAZfZEPwH5_zAEWBHnwrbvpI/edit


Main page
1. Start new inspection directly.
2. Open inspection flow with generated inspection id.


---- "New Inspection for VESSELNAME" Page-----------

1 single form.

Inspection Type
- GoPro Inspection,
  Diving Inspection,
  Hull Cleaning,
  Propeller Cleaning

Vessel Metadata
Form with 
- Vessel Name
- Inspection date
- Rest of metadata is fetched from their database
Go directly to implement Inspection Details, no 3D image "Vessel Parts Inspection"

Vessel Parts Inspection

bow
 Port
 Starboard
 Flat Bottom

midships
 Front Port
 Rear Port
 Front Starboard
 Rear Starboard
 Front Flat Bottom
 Rear Flat Bottom

aft
 Port
 Starboard
 Flat Bottom

rudder
 Port-Up
 Port-Down
 Starboard-Up
 Starboard-Down

propeller
 Propeller
 Rope Guard
 Shaft

other
 Sea Chest Grating
 Bilge Keels
 ICCP
 Aft Thruster
 Keel Block Mark

Select Vessel Part - copy directly
Fouling Condition
Coating Condition
Hull Condition
Hull Rating
Notes

We need two AI scores
- One for the specific part/image
- One for the whole vessel.

Idea with project:
- Get labaled data. Some AI team trains on it later.


Agreement:
- After all this is completed, start on real integration.
-- Azure Blob Storage

