@page "/books/create"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

@inject NavigationManager Nav

<PageTitle>Add Book</PageTitle>

<h1 class="sr-only">Opening add book</h1>

@code {
    protected override void OnInitialized() =>
        Nav.NavigateTo("/books?bookSource=user&bookMode=create", forceLoad: false, replace: true);
}
