COMPOSE_PROJECT_NAME={{ app_name }}
APP_NAME={{ app_name }}
APP_IMAGE={{ app_image }}
APP_VERSION={{ app_version }}
APP_NODE_NAME={{ inventory_hostname }}
APP_BIND_IP={{ cloud_private_ip }}
APP_PORT={{ app_port }}
App__Name={{ app_name }}
FORWARDED_HEADERS_KNOWN_PROXY={{ hostvars[groups['load_balancer'][0]].cloud_private_ip }}
POSTGRES_HOST={{ hostvars[groups['node_db'][0]].cloud_private_ip }}
POSTGRES_PORT={{ postgres_port }}
POSTGRES_USER={{ cloud_postgres_user }}
POSTGRES_PASSWORD={{ cloud_postgres_password }}
POSTGRES_DB={{ cloud_postgres_db }}
REDIS_HOST={{ hostvars[groups['node_db'][0]].cloud_private_ip }}
REDIS_PORT={{ redis_port }}
REDIS_PASSWORD={{ cloud_redis_password }}
OBSERVABILITY_DOCKER_NETWORK={{ observability_docker_network }}
OBSERVABILITY_ENABLED={{ (observability_enabled | default(false) | bool) | ternary('true', 'false') }}
OBSERVABILITY_OTLP_ENDPOINT=http://alloy:4317
OBSERVABILITY_OTLP_PROTOCOL=Grpc
OBSERVABILITY_TRACE_SAMPLE_RATIO={{ observability_trace_sample_ratio | default('0.1') }}
OBSERVABILITY_DEPLOYMENT_TARGET=cloud
