COMPOSE_PROJECT_NAME={{ app_name }}
APP_NAME={{ app_name }}
APP_IMAGE={{ app_image }}
APP_VERSION={{ app_version }}
APP_NODE_NAME={{ inventory_hostname }}
APP_PORT={{ app_port }}
App__Name={{ app_name }}
FORWARDED_HEADERS_KNOWN_PROXY={{ hostvars[groups['load_balancer'][0]].ansible_host }}
POSTGRES_HOST={{ hostvars[groups['node_db'][0]].ansible_host }}
POSTGRES_PORT={{ postgres_port }}
POSTGRES_USER={{ vault_postgres_user }}
POSTGRES_PASSWORD={{ vault_postgres_password }}
POSTGRES_DB={{ vault_postgres_db }}
REDIS_HOST={{ hostvars[groups['node_db'][0]].ansible_host }}
REDIS_PORT={{ redis_port }}
REDIS_PASSWORD={{ vault_redis_password }}
OBSERVABILITY_ENABLED={{ (observability_enabled | default(false) | bool) | lower }}
OBSERVABILITY_OTLP_ENDPOINT=http://alloy:4317
OBSERVABILITY_OTLP_PROTOCOL=Grpc
OBSERVABILITY_TRACE_SAMPLE_RATIO={{ observability_trace_sample_ratio | default('0.25') }}
OBSERVABILITY_DEPLOYMENT_TARGET=localcluster
OBSERVABILITY_DOCKER_NETWORK={{ observability_docker_network }}
