COMPOSE_PROJECT_NAME={{ app_name }}
APP_NAME={{ app_name }}
POSTGRES_BIND_IP={{ cloud_private_ip }}
POSTGRES_USER={{ cloud_postgres_user }}
POSTGRES_PASSWORD={{ cloud_postgres_password }}
POSTGRES_DB={{ cloud_postgres_db }}
POSTGRES_PORT={{ postgres_port }}
REDIS_BIND_IP={{ cloud_private_ip }}
REDIS_PASSWORD={{ cloud_redis_password }}
REDIS_PORT={{ redis_port }}
