[Unit]
Description={{ app_name }} Docker published-port firewall
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/{{ app_name }}-docker-user-firewall
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
