<div class="max-h-16 h-16 bg-stone-50 text-gray-900 border-b border-gray-200 flex justify-between items-center px-4 w-full">

    <a href="/" class="overflow-hidden flex-shrink-0 w-fit pl-2">
        <img src="hafniaLogo.png" alt="Logo" class="min-h-6 h-6 w-auto lg:min-h-12 lg:h-12 max-w-none"/>
    </a>
    

    <div class="flex items-center space-x-4">
        <button @onclick="ToggleMenu" class="md:hidden">
            <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                      d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2z"/>
            </svg>
        </button>

        <div class="hidden md:flex items-center space-x-4">
            <NavLink class="md:px-4" href="/">Home</NavLink>
            <NavLink class="md:px-4" href="/hull-images">Hull Images</NavLink>
            <NavLink class="md:px-4" href="/movies">Movies</NavLink>
            <NavLink class="md:px-4" href="/visualization">Visualize something</NavLink>
        </div>
        
    </div>
</div>


@{
var menuVisibleClass = _menuVisible ? "" : "hidden";
}

<ul class="@($"flex flex-col {menuVisibleClass} bg-stone-50 border-b border-gray-200 text-gray-900 px-4 py-2 md:hidden w-full")">
    <NavLink class="py-2" href="/">Home</NavLink>
    <NavLink class="py-2" href="/hull-images">Hull Images</NavLink>
    <NavLink class="py-2" href="/movies">Movies</NavLink>
    <NavLink class="py-2" href="/visualization">Visualize something</NavLink>
</ul>

@code {
private bool _menuVisible = false;

private void ToggleMenu() {
_menuVisible = !_menuVisible;
}
}
