global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/rules/*.yml

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets:
          - 127.0.0.1:9090
        labels:
          deployment_target: localcluster
          node: {{ inventory_hostname }}

  - job_name: alloy
    static_configs:
{% for host in groups['all'] %}
      - targets:
          - {{ ('alloy:' ~ observability_alloy_http_port) if host == groups['load_balancer'][0] else (hostvars[host].ansible_host ~ ':' ~ observability_alloy_http_port) }}
        labels:
          deployment_target: localcluster
          node: {{ host }}
{% endfor %}

  - job_name: node-exporter
    static_configs:
{% for host in groups['all'] %}
      - targets:
          - {{ ('node-exporter:' ~ observability_node_exporter_port) if host == groups['load_balancer'][0] else (hostvars[host].ansible_host ~ ':' ~ observability_node_exporter_port) }}
        labels:
          deployment_target: localcluster
          node: {{ host }}
{% endfor %}

  - job_name: postgres-exporter
    static_configs:
{% for host in groups['node_db'] %}
      - targets:
          - {{ hostvars[host].ansible_host }}:{{ observability_postgres_exporter_port }}
        labels:
          deployment_target: localcluster
          node: {{ host }}
{% endfor %}

  - job_name: redis-exporter
    static_configs:
{% for host in groups['node_db'] %}
      - targets:
          - {{ hostvars[host].ansible_host }}:{{ observability_redis_exporter_port }}
        labels:
          deployment_target: localcluster
          node: {{ host }}
{% endfor %}
