APP_NAME={{ app_name }}
APP_IMAGE={{ app_image }}
APP_PORT={{ app_port }}
POSTGRES_PORT={{ postgres_port }}
REDIS_PORT={{ redis_port }}
DEPLOY_ROOT={{ deploy_root }}
PUBLIC_HOSTNAME={{ public_hostname }}
CLOUDFLARE_TUNNEL_NAME={{ cloudflare_tunnel_name }}
CLOUDFLARED_VERSION={{ cloudflared_version }}
MIGRATION_BUNDLE_NAME={{ migration_bundle_name }}
RUNNER_NAME={{ runner_name | default('node-main-' ~ app_name) }}
RUNNER_LABEL={{ runner_label | default('localcluster-' ~ app_name) }}
SOURCE_REPO_URL={{ source_repo_url | default('unknown') }}
MARKER_HOST={{ inventory_hostname }}
MARKER_WRITTEN_AT={{ ansible_date_time.iso8601 | default('unknown') }}
