COMPOSE_PROJECT_NAME={{ app_name }}-observability-agent
APP_NAME={{ app_name }}
NODE_NAME={{ inventory_hostname }}
NODE_HOST={{ hostvars[inventory_hostname].ansible_host }}
OBSERVABILITY_DOCKER_NETWORK={{ observability_docker_network }}
OBSERVABILITY_ALLOY_HTTP_PORT={{ observability_alloy_http_port }}
OBSERVABILITY_NODE_EXPORTER_PORT={{ observability_node_exporter_port }}
OBSERVABILITY_POSTGRES_EXPORTER_PORT={{ observability_postgres_exporter_port }}
OBSERVABILITY_REDIS_EXPORTER_PORT={{ observability_redis_exporter_port }}
