APP_IMAGE={{ app_image }}
APP_VERSION={{ app_version }}
POSTGRES_HOST={{ hostvars[groups['db_redis'][0]].ansible_host }}
POSTGRES_USER={{ vault_postgres_user }}
POSTGRES_PASSWORD={{ vault_postgres_password }}
POSTGRES_DB={{ vault_postgres_db }}
REDIS_HOST={{ hostvars[groups['db_redis'][0]].ansible_host }}
REDIS_PASSWORD={{ vault_redis_password }}
