@inherits LayoutComponentBase
<div class="relative flex min-w-0 flex-col md:flex-row">
    <main class="min-w-0 flex-1 overflow-x-hidden bg-stone-50 text-gray-900">
        <NavMenu/>

        <article class="container box-border mx-auto mb-2 w-full max-w-[1500px] overflow-x-hidden p-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" class="bg-yellow-200 fixed bottom-0 left-0 w-full p-[0.6rem_1.25rem_0.7rem_1.25rem] shadow-[0_-1px_2px_rgba(0,0,0,0.2)] hidden z-50">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="absolute top-2 right-3 cursor-pointer dismiss">🗙</a>
</div>
