APP_NAME={{ app_name }}
APP_IMAGE_REF={{ app_image }}@{{ release_image_digest }}
APP_VERSION={{ app_version }}
APP_PORT={{ app_port }}
POSTGRES_PORT={{ postgres_port }}
REDIS_PORT={{ redis_port }}
POSTGRES_DB={{ app_name | replace('-', '_') }}
POSTGRES_USER={{ app_name | replace('-', '_') }}
POSTGRES_PASSWORD={{ vault_postgres_password }}
REDIS_PASSWORD={{ vault_redis_password }}
DOCKER_SUBNET={{ docker_subnet }}
